body {
  display: none;
}
.card-body > ::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.nav-link.active {
  border: 1px solid #000 !important;
  border-radius: 10px !important;
}
.nav-link:hover {
  border-radius: 10px !important;
}
.nav-tabs .nav-item {
  margin-bottom: 0px !important;
}

.nav-tabs {
  border-bottom: 0px !important;
}

@media only screen and (max-width: 570px) {
  .title {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 390px) {
  .title {
    font-size: 1.9rem;
    font-weight: 500;
    font-weight: lighter;
  }
  .sub-title {
    font-size: 1rem;
  }
}
